* {
    margin: auto;
    padding: auto;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none !important;
}

body {
    font-family: Lato;
    font-style: normal;
    font-weight: 700; }

/*.header {
    display: flex;
    background-color: black;
    margin: 0px;
    height: 75px;
}

.header__left {
    margin: 0px;
    margin-left: 231px;
    display: flex;
    width: 150px;
}

.header__right {
    margin-right: 240px;
    width: 150px;
    display: flex;
}

main {
    width: 1140px;
}

.top-page, .regist__top {
    display: flex;
    background-color: #F1E4E6;
}

.regist__top {
    height: 150px;
}

.regist {
    display: flex;
}

.regist__top-title {
    margin: 60px 230px;
    font-size: 24px;
    line-height: 29px;  
    color: #F16D7F;
}

.top-page__img {
    width: 800px;
    height: 764px;
    margin: 0px;
}

.top-page__title {
    width: 377px;
}

.title-topPage {
    margin: 0px;
    font-size: 32px;
    text-align: left;
}

.theBrand {
    font-weight: 900;
    font-size: 48px;
}

.pink {
    color: rgb(245, 83, 110);
}

.deal-1 {
    background-image:url(img/deal-1.jpg);  
}

.deal-2 {
    background-image:url(img/deal-2.jpg);
}

.deal-3 {
    background-image:url(img/deal-3.jpg);
}

.deal-4 {
    background-image:url(img/deal-4.jpg);
    height: 180px;
    width: 100%;
}

.deal__title, .deal__title, .deal__title {
    padding-top: 105px;
    color: #FFFFFF;
    text-align: center;
}

.deal-4__title {
    padding-top: 65px;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    width: 250px;
}

.deal__title-400 {
    font-weight: 400;
    font-size: 16px;
}

.deal__title-700 {
    font-weight: 700;
    font-size: 24px;
}

.deal-1, .deal-2, .deal-3 {
    width: 360px;
    height: 260px;
    margin: 65px 0px 30px;
} 

.items-title {
    text-align: center;
    font-weight: 400;
}

.items-title__title {
    font-weight: 400;
    font-size: 30px;
    color: #222222;
    margin: 96px 0px 6px;
}

.items-title__txt {
    font-size: 14px;
    color: #9F9F9F;
    margin-bottom: 48px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 360px;
    margin: 0px 0px 30px;
    height: 580px;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;

}

.item__img {
    margin: 0px 0px 25px;
}

.item__name {
    text-align: left;
    font-weight: 400;
    color: #000000;
    width: 315px;
}

.item__txt {
    font-weight: 300;
    font-size: 14px;
    color: #5D5D5D;
    margin: 12px 0px 0px;
}

.item__price {
    margin: 0px;
}

.button__browse {
    display: flex;
    border: 1px solid #FF6A6A;
    width: 200px;
    height: 50px;
    margin-top: 10px;
}

#btn-browse {
    color:rgb(245, 83, 110) 
}

.deals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offers {
    display: flex;
    background-color: #222224;
    color: #FBFBFB;
    width: 100%;
    height: 340px;
    text-align: center;
    margin-top: 95px;
}

.offer__delivery, .offer__discount, .offer__assurance {
    width: 360px;
    display: flex;
    flex-direction: column;
    height: 150px;
}

.offers__des {
    font-weight: 300;
}

.regist {
    display: flex;
    margin: 6.4em 0em 0em;
    justify-content: space-between;
}

.regist__form, .regist__text {
    margin: 0px;
}

.regist__form {
    width: 360px;
}

.regist__form-txt {
    font-weight: 300;
    font-size: 13px;
    color: #B1B1B1;
    margin: 2em 0em 4em;
}

input[type=text], [type=email], [type=password] {
    width: 30em;
    height: 45px;
    margin-top: 2em;
}

input[type=radio] {
    width: 17px;
    height: 17px;
}

input[placeholder] {
    font-weight: 300;
    font-size: 13px;
    opacity: 0.5;
}

.radio {
    display: flex;
    width: 50%;
    margin: 2em 0em;
}

.regist__text {
    font-weight: 300;
    font-size: 24px;
    width: 650px;
}

.button__join {
    padding: 1.3em 3em;
    background-color: #F16D7F;
    width: 25%;
    margin: 0em 0em 9.6em;
}

#btn-join {
    color: white;
}

.sub {
    display: flex;
    height: 450px;
    background-image: url(img/back-sub.jpg);
}

.sub__com, .sub__txt {
    text-align: center;
    
    font-weight: 400;
    font-size: 20px;
    color: #222224;
}

.sub__com-txt {
    margin: 30px 0px;
    width: 350px;
}

.sub__txt {
    display: flex;
    flex-direction: column;
}

.subscribe {
    font-size: 24px;
}

.subscribe__end {
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #222224;
}

.footer__logos {
    display: flex;
    text-align: center;
}

.rights {
    color: #FBFBFB;
    font-weight: 400;
}

.facebook, .insta, .pinterest, .twitter {
    width: 30px;
    height: 30px;
    background-color: #ffff;
}

.insta, .pinterest, .twitter {
    margin-left: 8px;
}

.footer__logo-f, .footer__logo-i, .footer__logo-p, .footer__logo-t {
    padding-top: 6px;
}*/

.top-page__img {
    display: none;
}

.profil, .cart {
    display: none;
}

.header {
    display: flex;
    background-color: black;
    margin: 0em;
    height: 7.5em;
    justify-content: space-between;
}

.header__left {
    display: flex;
    margin: 0em;
}

.header__right {
    display: flex;
    margin: 0em 1.6em;
}

.logo {
    margin: 1.8em 4em 1.8em 1.6em;
}

.loupe {
    margin: 2.8em 0em;
}

.top-page {
    display: flex;
    background-color: #F1E4E6;
    height: 36em;
}

.title-topPage {
    font-weight: 700;
    font-size: 20px;
}

.theBrand {
    font-weight: 900;
    font-size: 38px;
}

.pink {
    color: rgb(245, 83, 110);
}

.deals {
    text-align: center;
    margin: 6em 0em;
}

.deal-1, .deal-2, .deal-3 {
    height: 25em;
    width: 34em;
    margin-bottom: 3em;
}

.deal-1 {
    background-image:url(img/deal-1.jpg);  
}

.deal-2 {
    background-image:url(img/deal-2.jpg);
}

.deal-3 {
    background-image:url(img/deal-3.jpg);
}

.deal-4 {
    background-image:url(img/deal-4.jpg);
    height: 11em;
    width: 34em;
}

.deal__title {
    padding-top: 10.5em;
    color: #FFFFFF;
}

.deal-4__title {
    padding-top: 1.5em;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
}

.deal__title-400 {
    font-weight: 400;
    font-size: 16px;
}

.deal__title-700 {
    font-weight: 700;
    font-size: 24px;
}

.items-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 6.4em;
}

.items-title__title {
    font-weight: 400;
    font-size: 30px;
    color: #222222;
}

.items-title__txt {
    font-size: 14px;
    color: #9F9F9F;
    font-weight: 400;
}

.item {
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
    width: 36em;
    height: 58em;
    margin-top: 1.6em;
}

.item__img {
    margin-bottom: 2.5em;
}

.item__name {
    text-align: left;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    width: 24em;
}

.item__txt {
    font-weight: 300;
    font-size: 14px;
    color: #5D5D5D;
    margin: 1.2em 0em 0em;
}

.item__price {
    margin-bottom: 2em;
}

.button__browse {
    display: flex;
    border: 1px solid #FF6A6A;
    width: 12em;
    height: 2.7em;
    font-size: 16px;
    font-weight: 400;
    margin-top: 3em;
}

#btn-browse {
    text-decoration: none !important;
    color: #FF6A6A;
}

.offers {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #222224;
    color: #FBFBFB;
    height: 61em;
    margin-top: 6em;
}

.offer__delivery, .offer__discount, .offer__assurance {
    width: 36em;
    display: flex;
    flex-direction: column;
    height: 15em;
}

.sub {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(img/back-sub.jpg);
    height: 44em;
}

.footer__logos {
    display: flex;
}

.footer {
    display: flex;
    flex-direction: column-reverse;
    background: #222224;
    height: 14em;
}

.rights {
    color: #FBFBFB;
    margin-bottom: 0.9em;
}

.facebook, .insta, .pinterest, .twitter {
    width: 30px;
    height: 30px;
    background-color: #ffff;
    text-align: center;
}

.insta, .pinterest, .twitter {
    margin-left: 8px;
}

.footer__logo-f, .footer__logo-i, .footer__logo-p, .footer__logo-t {
    padding-top: 6px;
}

@media (min-width: 1440px) {

    .profil, .cart {
        display: block;
    }

    .header {
        display: flex;
        background-color: black;
        margin: 0px;
        height: 75px;
    }

    .header__left {
        margin: 0px;
        margin-left: 231px;
        display: flex;
        width: 150px;
    }

    .header__right {
        margin-right: 240px;
        width: 150px;
        display: flex;
    }

    main {
        width: 1140px;
    }

    .top-page, .regist__top {
        display: flex;
        background-color: #F1E4E6;
    }

    .top-page {
        height: 76.4em;
    }

    .regist__top {
        height: 150px;
    }

    .regist {
        display: flex;
    }

    .regist__top-title {
        margin: 60px 230px;
        font-size: 24px;
        line-height: 29px;  
        color: #F16D7F;
    }

    .top-page__img {
        display: block;
        width: 800px;
        height: 764px;
        margin: 0px;
    }

    .top-page__title {
        width: 377px;
    }

    .title-topPage {
        margin: 0px;
        font-size: 32px;
        text-align: left;
    }

    .theBrand {
        font-weight: 900;
        font-size: 48px;
    }

    .pink {
        color: rgb(245, 83, 110);
    }

    .deal-1 {
        background-image:url(img/deal-1.jpg);  
    }

    .deal-2 {
        background-image:url(img/deal-2.jpg);
    }

    .deal-3 {
        background-image:url(img/deal-3.jpg);
    }

    .deal-4 {
        background-image:url(img/deal-4.jpg);
        height: 180px;
        width: 100%;
    }

    .deal__title, .deal__title, .deal__title {
        padding-top: 105px;
        color: #FFFFFF;
        text-align: center;
    }

    .deal-4__title {
        padding-top: 65px;
        color: #FFFFFF;
        text-align: center;
        font-size: 24px;
        width: 250px;
    }

    .deal__title-400 {
        font-weight: 400;
        font-size: 16px;
    }

    .deal__title-700 {
        font-weight: 700;
        font-size: 24px;
    }

    .deal-1, .deal-2, .deal-3 {
        width: 360px;
        height: 260px;
        margin: 65px 0px 30px;
    } 

    .items-title {
        text-align: center;
        font-weight: 400;
    }

    .items-title__title {
        font-weight: 400;
        font-size: 30px;
        color: #222222;
        margin: 96px 0px 6px;
    }

    .items-title__txt {
        font-size: 14px;
        color: #9F9F9F;
        margin-bottom: 48px;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .item {
        width: 360px;
        margin: 0px 0px 30px;
        height: 580px;
        background: #F8F8F8;
        display: flex;
        flex-direction: column;

    }

    .item__img {
        margin: 0px 0px 25px;
    }

    .item__name {
        text-align: left;
        font-weight: 400;
        color: #000000;
        width: 315px;
    }

    .item__txt {
        font-weight: 300;
        font-size: 14px;
        color: #5D5D5D;
        margin: 12px 0px 0px;
    }

    .item__price {
        margin: 0px;
    }

    .button__browse {
        display: flex;
        border: 1px solid #FF6A6A;
        width: 200px;
        height: 50px;
        margin-top: 10px;
    }

    #btn-browse {
        color:rgb(245, 83, 110) 
    }

    .deals {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .offers {
        display: flex;
        flex-direction: row;
        background-color: #222224;
        color: #FBFBFB;
        width: 100%;
        height: 340px;
        text-align: center;
        margin-top: 95px;
    }

    .offer__delivery, .offer__discount, .offer__assurance {
        width: 360px;
        display: flex;
        flex-direction: column;
        height: 150px;
    }

    .offers__des {
        font-weight: 300;
    }

    .regist {
        display: flex;
        margin: 6.4em 0em 0em;
        justify-content: space-between;
    }

    .regist__form, .regist__text {
        margin: 0px;
    }

    .regist__form {
        width: 360px;
    }

    .regist__form-txt {
        font-weight: 300;
        font-size: 13px;
        color: #B1B1B1;
        margin: 2em 0em 4em;
    }

    input[type=text], [type=email], [type=password] {
        width: 30em;
        height: 45px;
        margin-top: 2em;
    }

    input[type=radio] {
        width: 17px;
        height: 17px;
    }

    input[placeholder] {
        font-weight: 300;
        font-size: 13px;
        opacity: 0.5;
    }

    .radio {
        display: flex;
        width: 50%;
        margin: 2em 0em;
    }

    .regist__text {
        font-weight: 300;
        font-size: 24px;
        width: 650px;
    }

    .button__join {
        padding: 1.3em 3em;
        background-color: #F16D7F;
        width: 25%;
        margin: 0em 0em 9.6em;
    }

    #btn-join {
        color: white;
    }

    .sub {
        display: flex;
        flex-direction: row;
        height: 450px;
        background-image: url(img/back-sub.jpg);
    }

    .sub__com, .sub__txt {
        text-align: center;
        
        font-weight: 400;
        font-size: 20px;
        color: #222224;
    }

    .sub__com-txt {
        margin: 30px 0px;
        width: 350px;
    }

    .sub__txt {
        display: flex;
        flex-direction: column;
    }

    .subscribe {
        font-size: 24px;
    }

    .subscribe__end {
        font-size: 18px;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 80px;
        background-color: #222224;
    }

    .footer__logos {
        display: flex;
        text-align: center;
    }

    .rights {
        color: #FBFBFB;
        font-weight: 400;
        margin: auto;
    }

    .facebook, .insta, .pinterest, .twitter {
        width: 30px;
        height: 30px;
        background-color: #ffff;
    }

    .insta, .pinterest, .twitter {
        margin-left: 8px;
    }

    .footer__logo-f, .footer__logo-i, .footer__logo-p, .footer__logo-t {
        padding-top: 6px;
    }
}