.header {
    display: flex;
    background-color: black;
    margin: 0px;
    height: 75px;

    &__left {
        margin: 0px;
        margin-left: 231px;
        display: flex;
        width: 150px;
    }
    
    &__right {
        margin-right: 240px;
        width: 150px;
        display: flex;
    }
}

.logo {
    margin: 1.8em 4em 1.8em 1.6em;
}

.loupe {
    margin: 2.8em 0em;
}
