.regist {
    margin: 4em 0.8em 10em;

    &__top {
        background: #F8F3F4;
        height: 14.8em;
    }

    &__top-title {
        font-weight: 400;
        font-size: 24px;
        color: #F16D7F;
        text-align: center;
        padding-top: 2.3em;
    }

    &__form-txt {
        font-weight: 300;
        font-size: 13px;
        color: #B1B1B1;
        margin-bottom: 3em;
    }

    &__text {
        font-weight: 300;
        font-size: 16px;
    }

    &__text-line {
        margin-bottom: 2em;
    }
}

