.sub {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(img/img-sub-phone.png);
    height: 55em;

    &__com-txt {
        font-weight: 400;
        font-size: 18px;
        width: 18em;
        margin-top: 2em;
    }
}
