html {
    font-size: 10px;
}

body {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6em;
}

a {
    text-decoration: none;
}

main {
    max-width: 114rem;
}

.pink {
    color: $pink;
}
