* {
    margin: auto;
}

html {
    font-size: 10px;
}

body {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
}

a {
    text-decoration: none;
}

@media (min-width: 768px) {

}

@media (min-width: 1440px) {
    
}
